@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: rgb(32, 36, 40);
  font-family: "Poppins", sans-serif;
  user-select: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 10px;
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #474747;
  border-radius: 6px;
  border: 4px solid transparent;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}