@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

.header {
  background: rgb(22 27 33);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border-bottom: 1px solid rgb(100 116 139);
  padding: 1rem;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.heading {
  display: inline-block;
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.75rem;
  letter-spacing: 0.2ch;
  font-family: "Raleway", sans-serif;
  color: #d6a960;
}

.themeToggleButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: default;
  outline: none;
}
